###############################################################################
# nifi logging properties
#
# {{ ansible_managed }}
#
###############################################################################

log4j.rootLogger=INFO, stdout

log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=[%d] %p %m (%c)%n

log4j.appender.nifiAppender=org.apache.log4j.RollingFileAppender
log4j.appender.nifiAppender.MaxFileSize=10MB
log4j.appender.nifiAppender.MaxBackupIndex=10
log4j.appender.nifiAppender.File=${nifi.logs.dir}/server.log
log4j.appender.nifiAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.nifiAppender.layout.ConversionPattern=[%d] %p %m (%c)%n

log4j.appender.stateChangeAppender=org.apache.log4j.RollingFileAppender
log4j.appender.nifiAppender.MaxFileSize=10MB
log4j.appender.nifiAppender.MaxBackupIndex=10
log4j.appender.stateChangeAppender.DatePattern='.'yyyy-MM-dd
log4j.appender.stateChangeAppender.File=${nifi.logs.dir}/state-change.log
log4j.appender.stateChangeAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.stateChangeAppender.layout.ConversionPattern=[%d] %p %m (%c)%n

log4j.appender.requestAppender=org.apache.log4j.RollingFileAppender
log4j.appender.requestAppender.MaxFileSize=10MB
log4j.appender.requestAppender.MaxBackupIndex=10
log4j.appender.requestAppender.DatePattern='.'yyyy-MM-dd
log4j.appender.requestAppender.File=${nifi.logs.dir}/nifi-request.log
log4j.appender.requestAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.requestAppender.layout.ConversionPattern=[%d] %p %m (%c)%n

log4j.appender.cleanerAppender=org.apache.log4j.RollingFileAppender
log4j.appender.cleanerAppender.MaxFileSize=10MB
log4j.appender.cleanerAppender.MaxBackupIndex=10
log4j.appender.cleanerAppender.DatePattern='.'yyyy-MM-dd
log4j.appender.cleanerAppender.File=${nifi.logs.dir}/log-cleaner.log
log4j.appender.cleanerAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.cleanerAppender.layout.ConversionPattern=[%d] %p %m (%c)%n

log4j.appender.controllerAppender=org.apache.log4j.RollingFileAppender
log4j.appender.controllerAppender.MaxFileSize=10MB
log4j.appender.controllerAppender.MaxBackupIndex=10
log4j.appender.controllerAppender.DatePattern='.'yyyy-MM-dd
log4j.appender.controllerAppender.File=${nifi.logs.dir}/controller.log
log4j.appender.controllerAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.controllerAppender.layout.ConversionPattern=[%d] %p %m (%c)%n

# Turn on all our debugging info
#log4j.logger.nifi.producer.async.DefaultEventHandler=DEBUG, nifiAppender
#log4j.logger.nifi.client.ClientUtils=DEBUG, nifiAppender
#log4j.logger.nifi.perf=DEBUG, nifiAppender
#log4j.logger.nifi.perf.ProducerPerformance$ProducerThread=DEBUG, nifiAppender
#log4j.logger.org.I0Itec.zkclient.ZkClient=DEBUG
log4j.logger.nifi=INFO, nifiAppender
log4j.logger.nifi.network.RequestChannel$=WARN, requestAppender
log4j.additivity.nifi.network.RequestChannel$=false
log4j.logger.nifi.network.Processor=INFO, requestAppender
log4j.logger.nifi.server.nifiApis=INFO, requestAppender
log4j.additivity.nifi.server.nifiApis=false
log4j.logger.nifi.request.logger=WARN, requestAppender
log4j.additivity.nifi.request.logger=false
log4j.logger.nifi.controller=INFO, controllerAppender
log4j.additivity.nifi.controller=false
log4j.logger.nifi.log.LogCleaner=INFO, cleanerAppender
log4j.additivity.nifi.log.LogCleaner=false
log4j.logger.state.change.logger=INFO, stateChangeAppender
log4j.additivity.state.change.logger=false
