###############################################################################
# nifi systemd service configuration
#
# {{ ansible_managed }}
#
###############################################################################

[Unit]
Description=Apache nifi Broker
Documentation=http://nifi.apache.org/
Requires=network.target
After=network.target
ConditionPathExists={{ nifi.conf_dir }}/server.properties
ConditionPathExists={{ nifi.lib_dir }}
ConditionPathExists={{ nifi.log_dir }}

[Service]
Type=simple
User={{ nifi_user }}
Group={{ nifi_group }}
SyslogIdentifier=nifi
LimitNOFILE={{ nifi_nofile }}
{% if java_home is defined %}
Environment=JAVA_HOME={{ java_home }}
{% endif %}
EnvironmentFile={{ nifi.env_file }}
WorkingDirectory={{ nifi.lib_dir }}
ExecStart={{ nifi.home_dir }}/bin/nifi-server-start.sh {{ nifi.conf_dir }}/server.properties
Restart=on-failure
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
