#!/bin/bash

if [ -f {{ nifi.env_file }} ]; then
    . {{ nifi.env_file }}
fi

export JAVA_HOME
export NIFI_HOME
export NIFI_LOG_DIR
export NIFI_PID_DIR

su {{ nifi_user }} -- {{ nifi.home_dir }}/bin/nifi.sh $@

# This line is here to potentially give the nifi server time to shut down between restarts
sleep 5
