{% if kineticadb_hosts is defined -%}
# Cluster ensemble from 'kineticadb_hosts'...
{% set hosts = kineticadb_hosts -%}
{% elif kineticadb_hostgroup is defined and groups[kineticadb_hostgroup] is defined %}
# Cluster ensemble from group '{{ kineticadb_hostgroup }}'...
{% set hosts = groups[kineticadb_hostgroup] -%}
{% endif -%}
{% if hosts is defined -%}
{% for host in hosts -%}
{%- if hostvars[host]['cluster_interface'] is defined -%}
{%- set key = 'ansible_' + hostvars[host]['cluster_interface'] -%}
{%- set host_ipv4 = hostvars[host][key]['ipv4'] -%}
{%- else -%}
{%- set host_ipv4 = hostvars[host]['ansible_default_ipv4'] -%}
{%- endif %}
{{ host_ipv4['address'] | default(host) }} slots={{ hostvars[host].kineticadb_number_of_gpus }} max_slots={{ hostvars[host].kineticadb_number_of_gpus }}
{% endfor -%}
{%- else -%}
# Default, no kineticadb host list or group was given...
127.0.0.1 slots=128 max_slots=128
{%- endif -%}
